@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Oswald', sans-serif;
    height: 95vh;
    width: 95;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url(/snake.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

h1 {
    margin: 30px;
    font-size: 65px;
    color: white;
    text-shadow: 0px 0px 20px rgb(255, 0, 234);
}

#snake {
    border: 5px solid white;
}